.vs/RS232 Communicator/FileContentIndex/154aa25e-a0c5-47de-85ce-78382073cbf1.vsidx
.vs/RS232 Communicator/FileContentIndex/2e1b6afd-3477-4cdf-842c-b7c76cd35002.vsidx
.vs/RS232 Communicator/FileContentIndex/4040f9a0-9f96-4b93-908f-280f5aa4de5b.vsidx
.vs/RS232 Communicator/FileContentIndex/413d609c-708c-48f9-a6e2-3a8744962337.vsidx
obj/Debug/net8.0-windows/TempPE/Properties.Resources.Designer.cs.dll
.vs/RS232 Communicator/FileContentIndex/9f35ec49-f923-4c5d-85ec-82872dca00a4.vsidx
.vs/RS232 Communicator/FileContentIndex/33cd507f-0c4e-4689-b441-54e985a132c8.vsidx
.vs/RS232 Communicator/FileContentIndex/d264e005-7530-4cd3-9f80-c88e552d027a.vsidx
.vs/RS232 Communicator/FileContentIndex/0056dd27-757a-46de-9df0-554e8c76e467.vsidx
.vs/RS232 Communicator/FileContentIndex/278bcec9-c726-4537-905d-3d5e80fb5457.vsidx
.vs/RS232 Communicator/FileContentIndex/35c18578-9dcc-4c20-82d6-40aaee02e6d4.vsidx
.vs/RS232 Communicator/FileContentIndex/7c1b5016-e566-452f-bf11-73ec06611bd5.vsidx
.vs/RS232 Communicator/FileContentIndex/9f94934e-d27f-43f2-b133-e406c94b2c9c.vsidx
bin/Debug/net8.0-windows/System.IO.Ports.dll
bin/Debug/net8.0-windows/runtimes/android-arm/native/libSystem.IO.Ports.Native.so
bin/Debug/net8.0-windows/runtimes/android-arm64/native/libSystem.IO.Ports.Native.so
bin/Debug/net8.0-windows/runtimes/android-x64/native/libSystem.IO.Ports.Native.so
bin/Debug/net8.0-windows/runtimes/android-x86/native/libSystem.IO.Ports.Native.so
bin/Debug/net8.0-windows/runtimes/linux-arm/native/libSystem.IO.Ports.Native.so
bin/Debug/net8.0-windows/runtimes/linux-arm64/native/libSystem.IO.Ports.Native.so
bin/Debug/net8.0-windows/runtimes/linux-bionic-arm64/native/libSystem.IO.Ports.Native.so
bin/Debug/net8.0-windows/runtimes/linux-bionic-x64/native/libSystem.IO.Ports.Native.so
bin/Debug/net8.0-windows/runtimes/linux-musl-arm/native/libSystem.IO.Ports.Native.so
bin/Debug/net8.0-windows/runtimes/linux-musl-arm64/native/libSystem.IO.Ports.Native.so
bin/Debug/net8.0-windows/runtimes/linux-musl-x64/native/libSystem.IO.Ports.Native.so
bin/Debug/net8.0-windows/runtimes/linux-x64/native/libSystem.IO.Ports.Native.so
bin/Debug/net8.0-windows/runtimes/maccatalyst-arm64/native/libSystem.IO.Ports.Native.dylib
bin/Debug/net8.0-windows/runtimes/maccatalyst-x64/native/libSystem.IO.Ports.Native.dylib
bin/Debug/net8.0-windows/runtimes/osx-arm64/native/libSystem.IO.Ports.Native.dylib
bin/Debug/net8.0-windows/runtimes/osx-x64/native/libSystem.IO.Ports.Native.dylib
bin/Debug/net8.0-windows/runtimes/unix/lib/net8.0/System.IO.Ports.dll
bin/Debug/net8.0-windows/runtimes/win/lib/net8.0/System.IO.Ports.dll
obj/Debug/net8.0-windows/RS232 Co.355C1D4E.Up2Date
obj/Debug/net8.0-windows/RS232_Communicator.SerialPortSettings.resources
.vs/RS232 Communicator/FileContentIndex/33ca6815-0a76-44c1-b795-153c725df05f.vsidx
.vs/RS232 Communicator/FileContentIndex/5f393c6d-41a1-4fff-b6e3-a96bcc16ceb5.vsidx
.vs/RS232 Communicator/FileContentIndex/933f471c-4128-4237-9e80-8e0b1ed75f64.vsidx
.vs/RS232 Communicator/FileContentIndex/5a1bc98f-8c93-42b1-ad06-0020dc71840f.vsidx
.vs/RS232 Communicator/FileContentIndex/d3bb4f46-3ad1-4cab-b79a-2d540b2322a7.vsidx
.vs/RS232 Communicator/FileContentIndex/06e977e6-354a-449f-9dfd-c85a84a4ae6c.vsidx
